

.nav-btn {
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 16px
}


.del-edit-btn {
    margin-right: 10px;
    font-size: 14px;
}

.main th {
    font-size: 16px;
}

.main td {
    font-size: 14px;
}